<div class="memContent">
			<form id="loginForm" method="post">
			
				<table>
					<tr>
						<th><label for="memberId">아이디(Email)</label></th>
						<td><input type="email" id="memberId" name="memberId"> 
						</td>
					</tr>
					
					<tr>
						<th><label for="memberPw">비밀번호</label></th>
						<td><input type="password" id="memberPw" name="memberPw"></td>
					</tr>
					
					<tr>
						<th><label for="memberChk">내 아이디 저장</label></th>
						<td><input type="checkbox" id="memberChk" name="memberChk" value="on" ${cookie.mid ne null ? 'checked' : ''}></td>
					</tr>
					
					<tr>
						<th></th>
						<td><input type="submit" value="로그인"></td>
					</tr>
			
				</table>
				

			</form>
	    	
	    	
			</div>