@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


.closetList {
	font-family: 'Nanum Pen Script', cursive;
	margin: 0 auto;
}

.likeSpan {
	font-size: 18px;
}

.closetPage {
position: absolute;
    margin-top: 30px;
    margin-left: 18px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 4px 50px 3px;
}

.writeDiv {
	margin: 0 auto;
	margin-top: 100px;
}

.bigCategory {
	margin: 100px 0 0 40px;
	position: fixed;
	height: 300px;
	top: 150px;
	background-color: white;
	border-radius: 20px;
	margin-right: 20px;
	margin-left: 15px;
	box-shadow: 2px 10px 60px 5px;
}

#bottom {
	margin-top: 20px;
}

#shoes {
	margin-top: 20px;
}


#codi table {
	margin: 2px auto;
	padding: 20px auto;	
}

#codibg {
    height:330px;
   	width: 330px;
	position: absolute;
	top: 400px;
	overflow: hidden;
	margin-left: 30px;
}

#codiback {
	width: 30px;
	height: 30px;
}

#codisave {
	width: 40px;
	height: 40px;
}

#codireset {
	width: 30px;
	height: 36px;
}

#codicon {
	display: block;
	top: 350px;
	position: absolute;
}


#savebtn {
	display:block;
	bottom-right: 30px;
	width: 30px;
	height: 30px;
}

#codilist {
	width: 30px;
	height: 30px;
}

.clist {
	width: 110px;
	height: 110px;
	margin: 10px 6px 0 6px;
	background-color: #EDEDED;
}

.closetTitle {
	font-size: 18px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	color: #6297bdba;
}

.clist p {
	text-align: center;
	position:relative;
	top:35px;
	font-size: 20px;
	font-weight: 550;
	background: linear-gradient(to right, #dd5e89, #f7bb97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nanum Pen Script', cursive;
}

.title { 
	border-bottom: 7px solid #D5E3FF; 
	padding: 0 0 0 0.5em;
}

.likeCnt {
	font-size: 20px;
}

#emptyheart {
	width: 15px;
	height: 15px;
	margin-left: 10px;
}

.closetView {
	width: 300px;
	height: 300px;
	background-color: #EDEDED;
	margin: 0 auto;
	border: 1px solid #ddd;
}

#heartview {
	width: 20px;
	height: 20px;
	margin-top: 6px;
	float: left;
}

#closetText {
	width: 330px;
	height: 100px;
	margin-right:30px;
	border: 1px solid #ddd;
}

#closetTextView {
	width: 300px;
	height: 100px;
	margin-top: 13px;
	border-top: 1px solid #ddd;
}

#closetTextView span {
	font-size: 36px;
	position: absolute;
    top: 400px;
    font-family: 'Nanum Pen Script';
    color: black;
}


#del {
	float: right;
	font-size: 13px;
}
#edit {
	float: right;
	font-size: 13px;
	
}
.likecnt {
	margin-top: 6px;
}

#closetImg {
	width: 70px;
	height: 70px;
}

#closetWrite {
	float : right;
	width: 50px;
	height: 50px;
	margin-right: 30px;
	margin-top: 20px;
	color: #757575;
}

#closetRegForm {
	position: absolute;
	top: 485px;
	margin-top: 30px;
	margin-left: 0px;
	width: 350px;
}


#writebtn {
	background-image: url(https://weatherwearmember.tk/member/image/icon/write.png);
    width: 50px;
    height: 50px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    border: 0px;
    background-color: #64c2eb;
    position: fixed;
    bottom: 80px;
    right: 15px;
    cursor: pointer;
    z-index: 10;
}

.writeTitle {
	top: 110px;
    position: absolute;
    margin-top: 15px;
}

.writeTitle span {
	font-size: 40px;
    background: #D8EFFB;
    font-family: 'Nanum Pen Script', cursive;
    color: black;
    margin-left: 130px;
}

#viewBack {
	margin-bottom: 30px;
}

#viewBack img {
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 5px;
}

.viewLike {
	font-size: 20px;
}

#editCloset {
	width: 330px;
	height: 330px;
	top: 70px;
	position: absolute;
	background-color: #EDEDED;
	margin-left: 10px;
	border: 1px solid #ddd;
	
}

#closetEditText {
	width: 330px;
	position: absolute;
	top: 405px;
	margin-left: 10px;
}


.editTitle {
	position: absolute;
	margin-top: 10px;
	margin-left: 120px;
}

.editTitle span {
	font-size: 40px;
    background: #D8EFFB;
    font-family: 'Nanum Pen Script';
    color: black;
}

.editbtns {
	position: absolute;
	top: 508px;
	margin-left: 125px;
}

#savebuttn {
	margin-left: 90px;
}

.editWrap {
	width: 360px;
    height: 550px;
    background: white;
    padding: 3px;
    position: absolute;
    margin-top: 40px;
    margin-left: 6px;
    box-shadow: 5px 3px 500px 2px;
}

.regDate {
	margin-left: 7px;
	font-size: 17px;
	
}